<h1>Login</h1>
<form #myForm="ngForm" (ngSubmit)="login()" >
  <div>
    <input type="text" name="username" [(ngModel)]="username"
    placeholder="User Name" required maxlength="6">
    <!-- pattern="banana" -->
    <div class="danger"
    *ngIf="myForm.controls['username'].touched && myForm.controls['username'].invalid">
      Username is required and max length 5
    </div>

    <input type="password" name="password" [(ngModel)]="password"
    placeholder="Password" required minlength="3">
    <div class="danger"
    *ngIf="myForm.controls['password'].touched && myForm.controls['password'].invalid">
      password is required and min length is 3
    </div>

    <input type="submit" value="Login" [disabled]="myForm.invalid">
  </div>
</form>
