<h1>Directive</h1>
<p *ngIf="name === 'John Doe'">{{ name }}</p>
<hr>
@if(name === 'John Doe') {
  Name = {{ name }}
} @else if(name === 'Jane Doe') {
  His Sister : {{ name }}
} @else {
  Somebody Else : {{ name }}
}
<hr>
<p *ngIf="name === 'John Doe'; else other">
  {{ name }}
</p>

<ng-template #other>Other</ng-template>
<hr>
<ul>
  <li *ngFor="let hero of heroes">{{ hero }}</li>
</ul>
<hr>
<ul>
  <li *ngFor="let hero of heroes2">
    {{ hero.name }} {{ hero.id }}
  </li>
</ul>
<hr>
@for(hero of heroes; track hero) {
  Name : {{ hero }} <br>
}
<hr>
@for(hero of heroes2; track hero.id; let no = $index) {
  {{ no + 1 }} {{ hero.name }} {{ hero.id }} <br>
}
<hr>
<div [ngSwitch]="hero.group">
  <div *ngSwitchCase="'avenger'">
    {{ hero.name }} is avenger
  </div>
  <div *ngSwitchCase="'villain'">
    {{ hero.name }} is villain
  </div>
  <div *ngSwitchDefault>
    {{ hero.name }} have no side
  </div>
</div>
<hr>
@switch(hero.group) {
  @case("avenger") {
    {{ hero.name | uppercase }} is avenger
  }
  @case("villain") {
    {{ hero.name }} is villain
  }
  @default() {
    {{ hero.name }} have no side
  }
}
<hr>
{{ 0.1234 | percent}} - percent
<br>
{{ 100 | currency }} - currency
<br>
{{ 100 | currency:'RM' }} - currency RM
<br>
{{ heroes | slice:1:3 }}
<br>
{{ today | date }} - date format
<br>
{{ hero | json }}
<br>
{{ "Hello World" | summary:7 | uppercase}}
<br>
<div appCopyright></div>
