<div class="container">
  <h1>Guess Game</h1>
  Guess a No: <input type="number" #no placeholder="no">
  <button class="btn btn-primary" (click)="checkAnswer(no.value)">Go</button>
  <div *ngIf="trials > 0"
    class="alert"
    [class.alert-danger]="!isWin"
    [class.alert-success]="isWin">{{ msg }}</div>
</div>
