<h1>Post List</h1>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>User ID</th>
      <th>Id</th>
      <th>Title</th>
      <th>Body</th>
    </tr>
  </thead>
  <tbody>
    @for(post of posts; track post.id) {
      <tr>
        <td>{{ post.userId }}</td>
        <td>{{ post.id }}</td>
        <td>{{ post.title }}</td>
        <td>{{ post.body }}</td>
      </tr>
    }
  </tbody>
</table>
