<h1>Registration</h1>
<form (ngSubmit)="doSubmit()" [formGroup]="myForm">
  <input type="text" formControlName="name" placeholder="Name">
  <span *ngIf="myForm.controls.name.touched && myForm.controls.name.invalid">Name is required</span>
  <br>
  <input type="text" formControlName="email" placeholder="Email">
  <span *ngIf="myForm.controls.email.touched && myForm.controls.email.invalid">Email is required with format</span>
  <br>
  <input type="submit" value="Submit" [disabled]="myForm.invalid">
</form>
