<h1>Register Employee</h1>
<div>
  <label for="id">User ID</label>
  <input type="text" [(ngModel)]="id" id="id" class="form-control" >
  <label for="name">Name</label>
  <input type="text" [(ngModel)]="name" id="name" class="form-control" >
  name = {{ name }}
  <label for="email">Email</label>
  <input type="text" [(ngModel)]="email" class="form-control" id="email">
  <button type="button" (click)="doSubmit()"
  class="btn btn-primary">Submit</button>
</div>
