<h1>Header</h1>

<ul>
  <li><a routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a></li>
  <li><a routerLink="/demo1" routerLinkActive="active">Demo 1</a></li>
  <li><a routerLink="/demo2" routerLinkActive="active">Demo 2</a></li>
  <li><a routerLink="/login" routerLinkActive="active">Login</a></li>
  <li><a routerLink="/registration" routerLinkActive="active">Register</a></li>
  <li><a routerLink="/car-owner" routerLinkActive="active">Car Owner</a></li>
</ul>

<router-outlet></router-outlet>

<h1>Footer</h1>
