<h1>Owner List</h1>
<table border="1" width="40%">
  <tr>
    <th>No</th>
    <th>Name</th>
  </tr>
  @for(owner of owners; track owner.id) {
    <tr>
      <td>{{ owner.id }}</td>
      <td>{{ owner.name }}</td>
    </tr>
  }
</table>
