<h1>Employee List</h1>
<a href="#" class="btn btn-primary btn-sm">New Employee</a>
<app-form-emp></app-form-emp>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Email</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    @for(employee of employees; track employee.id) {
      <tr>
        <td>{{ employee.id }}</td>
        <td>{{ employee.name }}</td>
        <td>{{ employee.email }}</td>
        <td>
          <a href="#" (click)="doDelete(employee.id)"
          class="btn btn-danger btn-sm">Delete</a>
        </td>
      </tr>
    }
  </tbody>
</table>
